/* =============================================
   MATUTINHO ALDEOTA - MAIN STYLE
   ============================================= */

/* Importação de todos os componentes na ordem correta */
@import url('components/variables.css');
@import url('components/reset.css');
@import url('components/login.css');
@import url('components/header.css');
@import url('components/container.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/tables.css');
@import url('components/modal.css');
@import url('components/notifications.css');
@import url('components/gastos.css');
@import url('components/boletos.css');
@import url('components/relatorios.css');
@import url('components/utilities.css');
@import url('themes/dark-theme.css');